.intro{
    background:url("https://www.accuweather.com/images/hero/4/1440x450.jpg");
}
.btn-search{
    width: 100%;
}
.weatherBoxResult{
  margin: auto;
  width: 500px;
  height: 300px;
  
}
.img{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weatherCity{
  font-size: 35px;
  text-align: center;
}
.weatherTemp{
  font-size:55px;
  text-align: center;
  font-weight: 700;
}